<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automated Logistics System - Main Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <section class="menu-bar">
        <header>
            <h1>
                <span>AirLogiX Control Panel</span>
                <img src="static/img/logo.jpg" alt="AirLogiX Logo" id="logo">
            </h1>
        </header>
        <nav>
            <ul>
                <li><a href="main.html" id="highlight-color">Main Page</a></li>
                <li><a href="drone.html">Drone</a></li>
                <li><a href="agv.html">AGV</a></li>
                <li><a href="station.html">Station</a></li>
            </ul>
        </nav>
        
    </section>

    <div class="widget-container">
        <section class="widget">
            <h2>Drone Information</h2>
            <div class="drone-location">
                <img src="location_map.png" alt="Drone Location Map">
            </div>
            <p>상태: 이륙 준비 완료</p>
            <div class="drone-battery">
                <p>배터리 상태: <span id="droneBattery">100%</span>%</p>
            </div>
            <p>화물 상태: <span id="droneCargo">탑재 대기중</span></p>
        </section>

        <section class="widget">
            <h2>AGV Information</h2>
            <div class="slam-data">
                <img src="slam-map.png" alt="Slam Data">
            </div>
            <p>상태: 대기중</p>
            <p>배터리 상태: 100%</p>
            <p>예상 이동 거리: 약 800m</p>
            <p>도착 예정 시간: 이동중이 아님</p>
        </section>

        <section class="widget">
            <h2>Station Information</h2>
            <p>상태: 대기중</p>
            <p>arUco</p>
        </section>
    </div>
    <script>
        function update(){
            $.get("/update", function(data){
                $("#output").html(data)
            });
        }
        update()
        var intervalId = setInterval(function() {
            update()
        }, 10000);

    </script>
</body>
</html>
